:root {
  --color-bg: #000;
  --color-main: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../images/kot.png"");
  background-repeat: no-repeat;
  background-size: 100%;
  /* background: var(--color-bg); */
  color: var(--color-main);
  display: flex;
  flex-wrap: wrap;
  font-family: Helvetica, sans-serif;
  justify-content: flex-start;
  height: 100vh;
  padding: 48px 32px;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
}

#clock {
  font-size: large;
}

@media (min-width: 1200px) {
  body {
    min-width: 1200px;
  }

  #container {
    width: 1200px;
    margin: auto;
  }
}

@media (max-width: 1199px) and (min-width: 782px) {
  body {
    min-width: 768px;
  }

  #container {
    width: 768px;
    margin: auto;
  }
}

@media (max-width: 781px) and (min-width: 480px) {
  body {
    min-width: 480px;
  }

  #container {
    width: 480px;
    margin: auto;
  }
}

@media (max-width: 479px) {
  body {
    min-width: 320px;
  }

  #container {
    width: 320px;
    margin: auto;
  }
}
