:root {
  --color-bg: #000;
  --color-main: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--color-bg);
  color: var(--color-main);
  display: flex;
  flex-wrap: wrap;
  font-family: Helvetica, sans-serif;
  justify-content: flex-start;
  height: 100vh;
  padding: 48px 32px;
  width: 100vw;
  overflow-x: hidden;
}

header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
}

h1 {
  font-size: 48px;
}

span {
  bottom: 100%;
  color: var(--color-main);
  font-size: 20px;
  left: 50%;
  padding: 12px 0;
  position: absolute;
  transform: translateX(-50%);
  width: 100%;
}

main {
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
}

p {
  font-size: 24px;
  padding: 12px 0;
  text-align: left;
}

a {
  text-decoration: none;
  color: lime;
}

a:hover {
  color: rgb(215, 5, 223);
}

.imgIcon {
  font-size: 24px;
}

main button {
  border: solid 0.3vw;
  background: var(--color-bg);
  color: var(--color-main);
  cursor: pointer;
  font-family: Helvetica, sans-serif;
  font-size: 32px;
  margin: 24px 0;
  padding: 24px 32px;
  transition: background 0.3s, color 0.3s;
}

main button:hover {
  background: var(--color-main);
  color: var(--color-bg);
}

@media (min-width: 1200px) {
  body {
    min-width: 1200px;
  }

  #container {
    width: 1200px;
    margin: auto;
  }
}

@media (max-width: 1199px) and (min-width: 782px) {
  body {
    min-width: 768px;
  }

  #container {
    width: 768px;
    margin: auto;
  }
}

@media (max-width: 781px) and (min-width: 480px) {
  body {
    min-width: 480px;
  }

  #container {
    width: 480px;
    margin: auto;
  }
}

@media (max-width: 479px) {
  body {
    min-width: 320px;
  }

  #container {
    width: 320px;
    margin: auto;
  }
}
